<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.association :group_category %>
     
<!--    pre-populate if parameters are passed thorugh-->
      <% if params[:name] %>
          <%= f.input :name, :input_html => { :value => params[:name].titlecase } %>
      <% else %>
      <%= f.input :name %>
     <% end %>
      
    <%= f.input :description %>
    
    <label for="logo">Upload a group logo</label><br>
    
        <%= f.file_field :logo %>
        <span class="file-custom"></span>
    <br>
    
    <label for="banner">Upload a banner</label>
       
    <br>
        
        <%= f.file_field :banner %>
        <span class="file-custom"></span>
     
      <%= f.input :tag_list, input_html: {value: @group.tag_list.to_s} %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
