  
     <div class="container ">
      <nav class="navbar navbar-fixed-bottom my-footer">
      <div class="container footer-border">
      <div>
          <div class="navbar-brand" ></div>
        <ul class="nav navbar-nav">
         <li class="nav-item nav-link">Your Groups</li>
          <% if user_signed_in? %>
           <% if current_user.has_role? :admin %>
            <li class="nav-item <%= 'active' if current_page?(admin_path) %>"><%= link_to 'Admin', admin_path, class: 'nav-link' %></li>
            <% end %>

            <% if current_user.profile %>
            <li class="nav-item pull-xs-right">
               <a href="<%= profile_path(current_user.profile) %>"><img src="<%= current_user.profile.profile_pic %>" alt="" width="50" style="display: block;" class="img-rounded"></a>
            </li>
            <li class="nav-item pull-xs-right hidden-md-down">
                <%= link_to current_user.email , profile_path(current_user.profile), class: 'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item pull-xs-right">
                <%= link_to 'Set up your profile', new_profile_path, class: 'nav-link' %>
            </li>
            <% end %>

          <li class="nav-item pull-xs-right">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
            <% else %>
            <li class="nav-item pull-xs-right">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            </li>
            <% end %>

        </ul>
      </div>
          </div>
    </nav>
</div>

