<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Archipelago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

<% if content_for? :group_banner %>
    <div class="jumbotron jumbotron-fluid" style="background: url(<%= yield(:group_banner) %>) no-repeat top center; height: 280px; background-size: cover; overflow: hidden; padding: 0;">
    <%= render 'layouts/navbar' %></div>
    <% else %>
        <div class="jumbotron jumbotron-fluid"><%= render 'layouts/navbar' %></div>
    <% end %>
    
<div class="container bg-container has-footer">
   <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
