<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Archipelago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron jumbotron-fluid"><%= render 'layouts/navbar' %></div>
<div class="container bg-container has-footer" style="">
        <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
